<!doctype html>
<html>
  <%= partial "layouts/shared/head" %>

  <body class="preload">
    <%= partial "layouts/shared/header" %>

    <main class="main">
      <%= partial "layouts/shared/sidebar" %>

      <article class="page">
        <div class="container">
          <%= partial 'layouts/playbook/chapter/header' %>

          <div class="chapter-contents">
            <%= yield %>
          </div>

          <%= partial 'layouts/playbook/chapter/footer' %>

          <%= partial "layouts/shared/footer" %>
        </div>
      </article>
    </main>

    <%= partial "layouts/shared/cookies" %>

    <%= partial "layouts/shared/all_js" %>

    <%= javascript_include_tag "jquery.nice-select.min.js" %>
    <%= javascript_include_tag "custom-select.js" %>
    <%= javascript_include_tag "chapter.js" %>
  </body>
</html>
