<div class="chapter-hero <%= current_chapter.section.page_id %>">
  <div class="chapters-container">
    <h1 class="title"><%= current_chapter.data.title %></h1>
  </div>
  <div class="chapter-img-wrapper">
    <%= image_tag current_chapter.section.data.image.filename,
                  class: 'chapter-img',
                  width: current_chapter.section.data.image.width,
                  height: 'auto' %>
  </div>
</div>

<div class="custom-select-wrapper">
  <p>
    <%= current_chapter.section.data.title %>
  </p>

  <select class="chapters-list wide">
    <% current_chapter.section.chapters.each do |chapter| %>
      <% selected = current_path?(chapter) ? { selected: 'selected' } : {} %>
      <% content_tag(:option, { value: url_for(chapter) }.merge(selected)) do %>
        <%= chapter.data.title %>
      <% end %>
    <% end %>
  </select>
</div>
