<!doctype html>
<html>
  <%= partial "layouts/shared/head" %>

  <body class="home-page">
    <%= partial "layouts/shared/header" %>

    <div class="main-container">
      <%= partial "layouts/shared/sidebar" %>

      <div class="container home">
        <div class="content-wrapper">
          <div>
            <%= yield %>
          </div>
          <div class="home-img-wrapper">
            <div class="home-img"></div>
          </div>
        </div>

        <%= partial "layouts/shared/footer" %>

      </div>
    </div>

    <%= partial "layouts/shared/cookies" %>

    <%= partial "layouts/shared/all_js" %>
  </body>
</html>
