<!doctype html>
<html>
  <%= partial "layouts/shared/head" %>

  <body class="home-page">
    <%= partial "layouts/shared/header" %>

    <main class="main">
      <%= partial "layouts/shared/sidebar" %>

      <article class="page home">
        <div class="container">
          <div class="home-img">
            <%= image_tag 'homepage-hero.svg' %>
          </div>
          <%= yield %>
        </div>

        <%= partial "layouts/shared/footer" %>
      </article>
    </main>

    <%= partial "layouts/shared/cookies" %>

    <%= partial "layouts/shared/all_js" %>
  </body>
</html>
