<!doctype html>
<html>
  <%= partial "layouts/shared/head" %>

  <body class="home-page">
    <%= partial "layouts/shared/header" %>

    <div class="main-container">
      <%= partial "layouts/shared/sidebar" %>

      <div class="container home">
        <div class="content-wrapper">
          <div class="home-img">
            <%= image_tag 'homepage-hero.svg' %>
          </div>
          <%= yield %>
        </div>

        <%= partial "layouts/shared/footer" %>
      </div>
    </div>

    <%= partial "layouts/shared/cookies" %>

    <%= partial "layouts/shared/all_js" %>
  </body>
</html>
