<div class="chapter-hero <%= current_page.data.slug %>">
  <div class="topics-container">
    <h1 class="title">Topic title (e.g. Our values)<%#= current_page.data.title %></h1>
    
    <% topics = playbook_section_topics_files(current_page) %>

  </div>
  
  <div class="chapter-img-wrapper">
    <%#= image_tag current_page.data.image.filename, :class => 'chapter-img', :width => current_page.data.image.width, :height => 'auto' %>
    <%= image_tag current_page.data.image.filename, :class => 'chapter-img' %>
  </div>
</div>

<section class="playbook">
  <%= partial 'middleman/layouts/playbook/section/topics_navigation', locals: { topics: topics } %>

  <% topics = playbook_section_topics_files(current_page) %>

  <%= partial 'middleman/layouts/playbook/section/topics', locals: { topics: topics } %>
  <% if next_section = playbook_sections_next_section(current_page) %>
    <%= partial 'middleman/layouts/playbook/section/next_section_link', locals: { next_section: next_section } %>
  <% end %>
</section>
