<!doctype html>
<html>
  <%= partial "middleman/layouts/shared/head" %>

  <body>
    <%= partial "middleman/layouts/shared/header" %>

    <div class="main-container">
      <%= partial "middleman/layouts/shared/sidebar" %>

      <div class="container page">
        <%= partial 'middleman/layouts/playbook/chapter/header' %>

        <%= yield %>

        <%#= partial 'middleman/layouts/playbook/section' %>
        <%= partial 'middleman/layouts/playbook/chapter/footer' %>

        <%= partial "middleman/layouts/shared/footer" %>
      </div>
    </div>

    <%= partial "middleman/layouts/shared/cookies" %>
    <a href="#" class="js-button-top"></a>

    <%= partial "middleman/layouts/shared/all_js" %>
  </body>
</html>
