<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <% if @meta_description_tag_content %>
    <meta name="description" content="<%= h @meta_description_tag_content %>">
  <% end %>

  <title><%= h title_tag_content %></title>

  <%= favicon_tag 'favicon.ico' %>
  <link rel="apple-touch-icon" href="<%= image_path "apple-touch-icon.png" %>" />

  <%= stylesheet_link_tag 'playbook-style' %>
</head>
