<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || 'Playbook' %></title>
    <%= stylesheet_link_tag 'playbook-style' %>
    <%#= stylesheet_link_tag 'home' %>
    <%= javascript_include_tag "offcanvas-sidebar" %>
  </head>
  <body>
    <%= partial "middleman/partials/header" %>
    
    <%= partial "middleman/partials/sidebar" %>
    
    <div class="overlay"></div>

    <div class="canvas">
      <%= partial 'middleman/layouts/shared/navigation' %>
      
      <div class="main-container">
        <div class="container">
          <%= yield %>
          <ul class="overview-list">
            <%= partial 'middleman/layouts/home/page_boxes' %>
          </ul>
        </div>
      </div>
      
      <%= partial "middleman/partials/footer" %>
    </div>
  </body>
</html>
