<!doctype html>
<html>
  <%= partial "middleman/layouts/shared/head" %>
  
  <body class="home-page">
    <%= partial "middleman/layouts/shared/header" %>

    <div class="main-container">
      <%= partial "middleman/layouts/shared/sidebar" %>

      <div class="container home">
        <div class="content-wrapper">
          <div>
            <%= yield %>
          </div>
          <div class="home-img-wrapper">
            <div class="home-img"></div>
          </div>
        </div>
        
        <%= partial "middleman/layouts/shared/footer" %>
          
      </div>
    </div>
    
    <%= partial "middleman/layouts/shared/cookies" %>
    
    <%= partial "middleman/layouts/shared/all_js" %>
  </body>
</html>
