<!doctype html>
<html>
  <%= partial "middleman/layouts/shared/head" %>
  
  <body>
    <%= partial "middleman/layouts/shared/header" %>

    <div class="main-container">
      <%= partial "middleman/layouts/shared/sidebar" %>

      <div class="container home">
        <%= yield %>
        
        <img src="middleman/assets/images/home-illustration.svg" alt="">
        
          
        <%= partial "middleman/layouts/shared/footer" %>
      </div>

      
    </div>
    <%= partial "middleman/layouts/shared/cookies" %>
    <a href="#" class="js-button-top"></a>
    
    <%= partial "middleman/layouts/shared/all_js" %>
  </body>
</html>
