<!doctype html>
<html>
  <%= partial "middleman/layouts/shared/head" %>
  
  <body>
    <%= partial "middleman/layouts/shared/header" %>
    
    <%= partial "middleman/layouts/shared/sidebar" %>

    <div class="overlay"></div>

    <div class="canvas">
      <div class="main-container">
        <div class="container">
          <%= yield %>

          <%= partial 'middleman/layouts/playbook/section' %>
        </div>
      </div>
      
      <%= partial "middleman/layouts/shared/footer" %>
    </div>
    <a href="#" class="js-button-top"></a>
  </body>
</html>
