<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use the title from a page's frontmatter if it has one -->
(??)    <title><%= h(current_page.data.title) || 'Playbook' %></title>
(??)    <%= stylesheet_link_tag 'playbook' %>
(??)    <%#= javascript_include_tag "playbook" %>
  </head>
  <body>
    <%= partial "middleman/partials/header" %>
    
    <div id="canvas">
      <%= partial 'middleman/layouts/shared/navigation' %>
      
      <div class="main-container">
        <div class="container">
          <%= yield %>

          <%= partial 'middleman/layouts/playbook/section' %>
        </div>
      </div>
      
      <%= partial "middleman/partials/footer" %>
    </div>
  </body>
</html>
